@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #000000;
  color: #7A7C80;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

h2, .white {
  color: #fff;
}

a {
  color: #7A7C80;
  text-decoration: none;
}

a.tab {
  color: unset;
}

a:hover {
  color: #FF3355;
  transition: 0.3s;
}

@media (max-width: 780px) {
  .main {
    flex-direction: column;
  }

  .contact {
    padding: 0;
    padding-top: 5rem;
  }

  .info {
    padding: 0;
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
}