name: Deploy
on:
  push:
    branches: [develop]    
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
    - name: 'Checkout sources'
      uses: actions/checkout@v4

    - name: 'Setup NodeJS'
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - name: 'Install dependencies'
      run: yarn install

    - name: 'Build'
      run: yarn export

    - name: 'Deploy'
      uses: peaceiris/actions-gh-pages@v4
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_dir: ./build
        username: "Rob van der Leek"
        useremail: "robvanderleek@gmail.com"
