name: Deploy

on:
  push:
    branches: 
      - develop    

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6

    - name: Setup NodeJS
      uses: actions/setup-node@v6
      with:
        node-version: '24.x'

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm export

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_dir: ./build
        username: "Rob van der Leek"
        useremail: "robvanderleek@gmail.com"
